<h1>Burger Menu!</h1>

<h2>Burgers that are not eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block ate="0"}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgerss that are eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block ate="1"}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Add Burger to Menu</button>
</form>
